main{
    width: 100vw;
    height: 100vh;
    background-color: silver;
    padding-top: 200px;
}

header{
    width: 80vw;
    height: 12vh;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 50px;
    margin: auto;

    position: static;
    position: sticky;
    top: 0px;
}

a{
    text-decoration: none;
    font-size: 70px;
    border: 2px solid black;
    background-color: white;
    padding: 20px 15px;
    border-radius: 50%;
    cursor: pointer;

    /* --------------- */
    position: fixed;
    right: 10px;
    bottom: 10px;
}
p{
    font-size: 60px;
}